@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-family: Trade Winds;
  background-color: #084c61;
  color: #5d91b0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  margin: inherit;
}

.game-container {
  display: flex;
}

.pregame-component {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.PlayerInputFormWrapper {
  background-color: #084c61;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.PlayerInputForm {
  color: #ffffff;
  border: solid;
  display: flex;
  flex-direction: column;
  max-width: 25%;
  align-items: center;
  padding-top: 2%;
  background-color: #5d91b0;
}

#intro-text {
  height: 100vh;
  background-image: url("https://images.alphacoders.com/794/794858.jpg");
  font-family: albertus;
  color: white;
  position: relative;
  margin: none;
  font-family: Trade Winds;
}

.role-container {
  background-color: #084c61;
  color: #5d91b0;
  width: 20%;
  display: flex;
  justify-content: center;
}

.role-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px 0px grey;
  display: flex;
  justify-content: center;
  text-align: center;
}

li {
  list-style: none;
}

.name {
  color: white;
}

.player {
  margin: 20px;
  padding: 10px;
  width: 300px;
  box-shadow: 0px 0px 10px 0px grey;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}

.score-board {
  text-align: center;
}

.passedImitation {
  background-color: #084c61;
  color: #ff7830;
  box-shadow: 0px 0px 10px 0px black;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.blockedImitation {
  background-color: #ff7830;
  color: #084c61;
  box-shadow: 0px 0px 10px 1px black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

li {
  justify-content: center;
  display: flex;
}

.win-message {
  font-size: 50px;
  background-color: #084c61;
}
