@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-container {
  display: flex;
}

.pregame-component {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.PlayerInputFormWrapper {
  background-color: #282c34;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

.PlayerInputForm {
  color: #ffffff;
  border: solid;
  display: flex;
  flex-direction: column;
  max-width: 25%;
  align-items: center;
  padding-top: 2%;
  background-color: #4f4e4e;
}

#intro-text {
  height: 100vh;
  background-image: url("https://images.alphacoders.com/794/794858.jpg");
  font-family: albertus;
  color: white;
  position: relative;
  margin: none;
}

h1 {
  margin: inherit;
}
